.tic-tac-toe-cell-x::after,
.tic-tac-toe-cell-o::after {
  font-weight: 600;
  font-size: 60px;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 16px;
}

.tic-tac-toe-cell-x::after {
  content: "X";
  color:  var(--color-red-600);
}

.tic-tac-toe-cell-o::after {
  content: "O";
  color: var(--color-blue-600);
}

